@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 style="color:#4a28ea;">Contatos</h2>
            <p style="font-weight:bold;">
                Venha Conversar Com a Gente
                Se precisar tirar uma dúvida, solicitar orçamento, estamos prontos para te atender
            </p>
        </div>
        <div class="footer-top">
            <div class="container col-md-12 d-flex justify-content-center">
                <div class="row d-flex justify-content-center">


                    <div class="col-md-6 col-md-6 footer-contact">
                        <img src="~/assets/parceiros/v3pub.png" width="250" style="margin-right: 110px;margin-bottom:10px;" />

                        <p style="font-family:'Montserrat', sans-serif;font-weight:bold">

                            Rua A 139   <br>
                            Centro
                            <br />
                            Paraíso do Tocantins-TO
                             <br>
                             
                            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5563984686522" style="color:blue;font-weight:bold" target="_blank">
                                <strong><img src="~/assets/img/WhatsaapLogo.png" width="35" style="margin-bottom:3px;" /></strong> (63) 9 8468-6522
                            </a>
                             <a href="mailto:v3.arteepublicidade@gmail.com" class="btn btn-primary"><b style="font-family:'Montserrat', sans-serif;">v3.arteepublicidade@gmail.com</b></a><br>
                            <br>

                            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5563984027709" style="color:blue;font-weight:bold" target="_blank">
                                <strong><img src="~/assets/img/WhatsaapLogo.png" width="35" style="margin-bottom:3px;" /></strong> (63) 9 8402-7709
                            </a>
                            <a href="mailto:weslleyalberto@gmail.com" class="btn btn-primary"><b style="font-family:'Montserrat', sans-serif;">weslleyalberto@gmail.com</b></a><br>
                        </p>
                    </div>

                      <div class="col-md-4 col-md-3 footer-contact">
          <img src="~/assets/parceiros/logo-comunic.jpg" width="250" height="100" style="border-radius:10px 10px;margin-right:110px;margin-bottom:10px;" />
          <p  style="font-family:'Montserrat', sans-serif;font-weight:bold">
              CSG 03 Lote 07 <br>
              Taguatinga<br />
             
              Brasília DF 
                <br />
         
              <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561985986859" style="color:blue;font-weight:bold" target="_blank">
                  <strong><img src="~/assets/img/WhatsaapLogo.png" width="35" style="margin-right:5px;margin-bottom:3px;"/></strong>(61) 9 8598-6859
              </a>
              <br><a href="mailto:contato@comunicpublicidade.com"
                     class="btn btn-primary">

                  <b style="font-family:'Montserrat', sans-serif;">contato@comunicpublicidade.com</b>
              </a>
              <br>
          </p>
      </div> 
                </div>
            </div>
        </div>



        </div>
</section><!-- End Contact Section -->