@*
    Team Designer
*@

<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 style="color:#4a28ea">Parceiros</h2>
          
            <h5>
                " O talento vence jogos, mas só o trabalho em equipe ganha campeonatos." Michael Jordan

            </h5>
        </div>
         <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex align-items-center mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="logo">
                        <div class="img-fluid logo d-flex justify-content-center">
                            <img src="~/assets/parceiros/logo-comunic.jpg" title="V3 Publicidade e Prograganda" alt="" width="200" height="200" />
                        </div>

                        <p style="font-weight:bold;margin-top:10px;text-align:center;"> <span style="color:#4a28ea;text-align:center">Comunic</span> </p>
                        <p style="text-align:center">  Publicidade e Marketing </p>
                    </div>
                </div>


            </div>
            <br />
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex align-items-center mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="logo">
                        <div class="img-fluid logo d-flex justify-content-center">
                            <img src="~/assets/parceiros/v3pub.png" title="V3 Publicidade e Prograganda" alt="" width="200" height="86" />
                        </div>

                        <p style="font-weight:bold;margin-top:10px;text-align:center;"> <span style="color:#4a28ea;text-align:center">V3</span> Publicidade e Propaganda</p>
                        <p style="text-align:center">Designer Gráfico, Comunicação Visual e Marketing Digital</p>
                    </div>
                </div>


            </div>
            <br />
            
        </div>



    </div>


</section>
